<a href="https://colab.research.google.com/github/cysorianoc/Python_for_data_science/blob/main/Python_Fund_W4_UCB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4: Why do we need repetitions ?
Recap:
- We learned input/output methods
- We learned variables and operations
- We learned branching as flow control
- **Now let's learn about reppetition**

## Repetition

- We often need to run programs (or subtasks) repeatedly. Writing the same code multiple times may bring some debug issues for instance.
- Rather than write the same code again and again, we can set a **repetition** flow control to execute statements based on:
  - **Condition** as long it is satisfied, the code will run again and again.
  - **Count** to set the number of times that the code will run.

## Condition-based repetition
 Here we check a condition multiple times if it is still valid: /


 ![image.png]()

## Condition-Based Repetition

It has a similar structure as decision structure as we see. The only difference is that the branching takes us to the next part of the program by going back to the previous stage of the condition.

When the condition is false, we get out of the loop.

## Synthax: the *while* Loop

- We can use *while* to start a loop:\
``while condition``\
``statements``
- The first line is known as the *while* clause
  - *While* clause specifies the *condition* with a ``:``
  - List of statement(s) with consistent indentation
  - If the condition is tested to be *True*, the statements in *while* clause will be executed; otherwise, skip and move to next.

In [ ]:
# Print all positive integers up to 10
x=0
while x<=10:
  print(x)
  x+=1 # is the same as saying x=x+1
  # The instruction x=x+1 changes the instructions inside the loop, otherwisw there would be an infinite loop

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print all integers from 10 to 0
x=10
while x>=0: #this is our end condition
  print(x)
  x-=1 # same as x=x-1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# input validation - only print 'bingo' when typed 'secret'
password_on_record='secret'
password_entered=input('please enter your password: ')
while password_entered != password_on_record:
  password_entered=input('Wrong! Please enter your password: ')

print('Bingo! Welcome')

please enter your password: password
Wrong! Please enter your password: wrong
Wrong! Please enter your password: again
Wrong! Please enter your password: something else
Wrong! Please enter your password: secret
Bingo! Welcome

In [ ]:
# flag-enter stop to exit a program
# this is some kind similar to the input validation program
flag=True
while flag:
  inputs= input('please enter some words to display, enter STOP to exit')
  if inputs=='STOP':
    flag=False
  print(inputs)

please enter some words to display, enter STOP to exittext
text
please enter some words to display, enter STOP to exitpython
python
please enter some words to display, enter STOP to exithello
hello
please enter some words to display, enter STOP to exitworld
world
please enter some words to display, enter STOP to exitSTOP
STOP

# Welcome to our Lab Practice!

This lab is about repetition - while loops. Are you ready? Let's get started!

You will find some small tasks in sections below.

###Task: Print all integers from -5 to 5.

In [ ]:
x=-5
while x<=5:
  print(x)
  x+=1

-5
-4
-3
-2
-1
0
1
2
3
4
5

###Task: Print all integers of an interval given by the user

Ask the user to enter two integers and print all integers between (including) them.

In [ ]:
low_limit=int(input('Enter the low boundary value: '))
up_limit=int(input('Enter the up boundary value: '))
while low_limit<=up_limit:
  print(low_limit)
  low_limit+=1

Enter the low boundary value: -4
Enter the up boundary value: 11
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11

###Task: Double The Number

Step 1: Ask the user to enter a small positive number (0 - 10)

Step 2: Double the number, print it out, and repeat, until the number beyond 1,000,000

(How fast the number is growing)

In [ ]:
number=int(input('Enter a positive number between 1 and 10: '))
while number<=1000000:
  print(number)
  number=number*2

Enter a positive number between 1 and 10: 1
1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536
131072
262144
524288

###Task: Keep asking for candy until 'STOP'  

Step1: Ask the user to enter anything

Step2: print a message 'Thanks! I got a candy'

Step3: Repeat Step 1 and 2, until the user enter 'Done'

Step4: print a message 'Thanks! I have enough.'

In [ ]:
flag=True
while flag:
  inputs = input('Enter anything, type \'Done to stop\': ')
  if inputs != 'Done':
    print('Thanks! I got a candy')
  elif inputs=='Done':
    flag=False
    print('Thanks!  I have enough')

Enter anything, type 'Done to stop': text
Thanks! I got a candy
Enter anything, type 'Done to stop': word
Thanks! I got a candy
Enter anything, type 'Done to stop': Done
Thanks!  I have enough

In [ ]:
# Alternative solution from the Instructor's answers
msg  = input('Enter anything to continue, enter "Done" to stop: ')
while msg != 'Done':
  print('Thanks! I got a candy')
  msg = input('Enter anything to continue, enter "Done" to stop: ')
print('Thanks! I have enough')

Enter anything to continue, enter "Done" to stop: text
Thanks! I got a candy
Enter anything to continue, enter "Done" to stop: Done
Thanks! I have enough

### Task: Password Setup

*   Ask the user to enter a new password.
*   Ask the user to enter the password again.
*   If the second input matches the first one, print "You are all set", otherwise, repeat the process.

In [ ]:
password_1=input('Enter a new password: ')
password_2=input('Enter the password again: ')
while password_1 != password_2:
  print('The passwords do not coincide')
  password_1=input('Enter a new password: ')
  password_2=input('Enter the password again: ')
print('You are all set')

Enter a new password: 125
Enter the password again: 124
The passwords do not coincide
Enter a new password: 1255
Enter the password again: 1255
You are all set

## Count-based repetition

How many times we run the loop is the criteria for a count-based repetition.

### The *for* loop
- We can use ``for`` to start a loop: \
``for item in [item_1, item_2, ... , item_n]: ``\
``statements``
- Inside the brackets we have items that are connected, and separated by commas.
- For each of the item in this connection, we are going to do some instructions.
- The first line is knon as the *for* clause.
  - ``for`` clause specifies the sequence of items with a ``:``
  - Iterates onece for each ``item`` in the sequence.
  - The *number* of items *n* in the sequence is the number of times the loop will be executed.

### The *for* loop with *range*

- We can use *range* to create a sequence for a *for* loop:

``for items in range(n)`` \
``statements``

Range will be a function that will generate for instance integers from zero to n-1.
- *range()* characteristics:
  - one argument: used as ending limit: range(5)=range(0,5)=range(0,5,1)->[0,1,2,3,4]
  - two arguments: starting value and ending limit: range(2,5)=range(2,5,1)->[2,3,4]
  - three arguments: third argument is step value: range(2,5,2)->[2,4]

In [ ]:
# print a list of integers [1,2,3,5,7]
for i in [1,2,3,5,7]:
  print(i)

1
2
3
5
7

In [ ]:
# print a range of numbers with a certain step
for i in range(5,50,3):
  print(i)

5
8
11
14
17
20
23
26
29
32
35
38
41
44
47

In [ ]:
# print each char in a string
for c in 'Hello, world':
  print(c)

H
e
l
l
o
,

w
o
r
l
d

In [ ]:
# calculate the sum of a list of numbers
numbers=[1,2,3,5,7]
sum=0 # we need a placeholder that will increase for each step
for n in numbers:
  sum=sum+n # altenratively sum+=n on each cycle, for changes nm then it accumulates with sum
print(sum)

18

In [ ]:
# calculate the sum from 0 to 100
sum=0
for n in range(0,101):
  sum+=n
print(sum)

5050

In [ ]:
"""
explanation for the previous code
if we see the range from 0 to 100
we will have the numbers from 0 to 99
so the range has to be increased to 101
to include 100
"""
for n in range(100):
  print(n)

# Welcome to our Lab Practice!

This lab is about repetition - for loops. Are you ready? Let's get started!

You will find some small tasks in sections below.

###Task: Print all even numbers within 20

In [ ]:
for n in range(0,21,2):
  print(n)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# another solution
for i in range(0,21):
  if i % 2==0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

### Task: Print all numbers dividble by 5 within 100

In [ ]:
for n in range(0,101,5):
  print(n)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
# Alternative solution
for n in range(0,101):
  if n%5==0:
    print(n)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

###Task: Print all integers from -5 to 5.

In [ ]:
for n in range(-5,6):
  print(n)

-5
-4
-3
-2
-1
0
1
2
3
4
5

###Task: Print all integers of an interval given by the user

Ask the user to enter two integers and print all integers between (including) them.

In [ ]:
low_val=int(input('Enter a the low boundary number: '))
up_val=int(input('Enter the up boundary number: '))
up_val_range=up_val+1
for n in range(low_val, up_val_range):
  print(n)

Enter a the low boundary number: -3
Enter the up boundary number: 3
-3
-2
-1
0
1
2
3

In [ ]:
# alternative solution
low_val=int(input('Enter a the low boundary number: '))
up_val=int(input('Enter the up boundary number: '))
for n in range(low_val, up_val+1):
  print(n)

Enter a the low boundary number: -5
Enter the up boundary number: 10
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

# continue and break

If we want to have extra control. If we want to skip a certain part of a statememt. So we have **continue** and **creak** keywords.

- In Repetition structure, we can use two special control repetitions:
- *continue*
  -  skip the rest of the statement and jump to the next interation.
- *break*
  - stop the repetition immediately.

In [ ]:
# when enter stop to exit
while True:
  inputs=input('Please enter some words to display, STOP to stop:')
  if inputs=='STOP':
    break
  print(inputs)

Please enter some words to display, STOP to stop:hello
hello
Please enter some words to display, STOP to stop:world
world
Please enter some words to display, STOP to stop:python
python
Please enter some words to display, STOP to stop:STOP

In [ ]:
# print all numbers whose square is less than 100

x=0
while True:
  if x**2>=100:
    break
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print numbers dibidable by 5 within 100

for i in range(101):
  if i%5!=0:
    continue
  print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

# Welcome to our last assignment!

This assignment is about testing your understanding of flow control: repetition.

We are going to create some simple programs using these tools. Are you ready? Let's get started!

You will find some small tasks in sections below. You should use input() to get the user to enter the information and use print() to print the information on the screen. At this moment, we can assume users will follow instructions carefully - they will enter the valid inputs as required.

## Prime Numbers
> Let's be kind to welcome 1 as a prime number for this exercise.

### Instruction:

Step 1: Ask the user to enter an integer

Step 2: find and print all prime numbers up to the integer.

In [ ]:
n=int(input('Enter an integer: '))
for i in range (1,n+1):
  prime=True
  for j in range(2,i):
    if i%j==0:
      prime=False
      break
  if prime:
   print(i)

Enter an integer: 20
1
2
3
5
7
11
13
17
19

## A Simple Grade Book

###Instruction: You are going to program a simple grade book.

step1: Ask the user to enter the number of students in a class

step2: Ask the user to enter the grade (in a 0-100 scale) of each student  

step3: Calculate and print the average, min, and max grade of the class.

In [ ]:
n=int(input('Enter the number of students in a class: '))
total=0
min=100
max=0
for i in range(n):
  grade=int(input('Enter the grade for student'))
  total+=grade
  average=total/n
  if grade<min:
    min=grade
  if grade>max:
    max=grade
print('Average: ',average, 'Min:', min, 'Max: ', max)

Enter the number of students in a class: 3
Enter the grade for student30
Enter the grade for student60
Enter the grade for student90
Average:  60.0 Min: 30 Max:  90

In [ ]:
n=int(input('Enter the number of students in a class: '))
notes = []
del(max) # delete the max value previously stored somewhere else
del(min) # do the same
for i in range(n):
    grade=int(input('Enter the grade for student: '))
    total+=grade
    notes.append(grade)
    average=total/n
print('Average: ',average, 'Min:', min(notes), 'Max: ', max(notes))

Enter the number of students in a class: 3
Enter the grade for student30
Enter the grade for student60
Enter the grade for student90
Average:  120.0 Min: 30 Max:  90

## Fahrenheit to Celcius Converter

###Instruction: You are going to program a simple converter which converts a Fahrenheit degree to Celcius degree..

step1: Ask the user to enter the number in Fahrenheit, (enter stop to quit the program)

step2: Calculate the celcius based on the formular c = (f - 32) * 5 / 9

step3: print the celcius

In [ ]:
f=(input('Enter the temperature in Farenheit (enter STOP to quit): '))
while f !='STOP':
  f=float(f)
  c=(f-32)*5/9
  print('Celsius:', c)
  f=input('Enter another temperature in Farenheit (enter STOP to quit):')

Enter the temperature in Farenheit (enter STOP to quit): 100
Celsius: 37.77777777777778
Enter another temperature in Farenheit (enter STOP to quit):50
Celsius: 10.0
Enter another temperature in Farenheit (enter STOP to quit):STOP

## How many E and e in a sentence?

###Instruction: You are going to program a simple counter which finds how many 'E' and 'e' in a sentence entered by the user.

step1: Ask the user to enter a sentence

step2: Count the number of 'E', and the number of 'e'
> hint: You can use a for loop to iterate all the characters in a string, such as `for c in sentence`, then compare `c` with `e` and `E`.

step3: print the result

In [ ]:
text=input('Enter a sentence: ')
number_e=0
number_E=0
for i in text:
  if i=='e':
    number_e+=1
  elif i=='E':
    number_E+=1
print('Number of e: ', number_e, 'Number of E', number_E)

Enter a sentence: Enter a sentenCE
Number of e:  3 Number of E 2

## Binary Converter (Optional)

###Instruction: You are going to program a decimal to binary converter.
> Hint: For example, convert decimal 11 to binary number, we follows: 11 % 2 = **1** (you need to record it), 11 // 2 = 5; 5 % 2 = **1** (you need to record it), 5 // 2 = 2; 2 % 2 = **0**, 2 // 2 = **1**. Now you will concatenate them reversly, from the last 1, then the 0, then 1, then 1. You get 1011 as the binary representation of decimal 11.

step1: Ask the user to enter a positive decimal integer.

step2: Calculate the binary representation of the integer by keep dividing until the reminder is less than 2, keep record of all the reminders.

step3: Print reminders as the binary representation.

In [ ]:
# In this case I will use the built in function
value=int(input('Enter a number: '))
binary=bin(value)
print(binary[2:])

Enter a number: 11
1011

**Congratulations! You finished this Assignment and completed Module 4!**