<a href="https://colab.research.google.com/github/cysorianoc/Python_for_data_science/blob/main/Python_Fund_W2_UCB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 2: Variables and operations

## Variables

- A variable ia a reference of a data.
- When you want to compute the data, you can use the variable instead.

## Identifiers

- Letters (A-Z, a-z), digits (0-9), and underscores (_).
- Identifiers must begin with a letter or underscore. May not begin by digits.
- Identfiers cannor have special characters.
- Attention to the reserved keywords in Python.

## Naming Conventoions
- We name a variable with lower case letter.
- you can link several words with underscore.
- Use meaningful names so readers can understand.
- average_income, start_location, first_name ...
- Maybe you can use some capitalization to begin second words: lastName, startLocation.

## Assignment Operation
- We use = to assign a value to a variable.
- For example ``message="Hello, world!"``.
- ``print(message)`` will be the same as ``print("Hello, world!")``

In [ ]:
message="Hello, world!"

In [ ]:
print(message)

Hello, world!

In [ ]:
message*3

'Hello, world!Hello, world!Hello, world!'

## Types of Variables

- The type of a variable is determined by the current type of data the variable is referring.
- String: is a sequence of characters. For string data type we wrap them in quotations.
- Numeric types: ``ìnt``is a numerical without decimal points. ``float`` are numbers with decimal points.
- Dynamic-type variables: means that variable that has been assigned to one type can be reassigned to another type. We can switch from ``int``, ``str`` or ``float``.
- Variables can be transferred: a variable that refers to a value can be on the right side of assignment too. From str/float to int ``x=5``, then ``y=x`` so ``y`` refers to 5 too. If we change after the value of ``x`` ,``y`` remains unchanged.
- Values can be converted; ``x=int('5')`` will refer to int 5. ``x=int(5.5)`` will refer to 5 (value after discarding the decimal point).

In [ ]:
type(message)

str

In [ ]:
type("Hello, world!")

str

# Welcome to our Lab Practice!

This lab is about variables, assignments, and their value and data types. Are you ready? Let's get started!

You will find some small tasks in sections below.

## Value assignment

###Task: assign **x** with an int 5.

Use print() and type() to check the value is correctly assigned, and the data type is correct. For example: print('x:', x, type(x))

In [ ]:
x=int(5)
print('x',x,type(x))

x 5 <class 'int'>

###Task: assign **int_x** with x.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
int_x=x
print('int_x', int_x, type(int_x))

int_x 5 <class 'int'>

###Task: assign **x** with a float 5.0.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
x=float(5)
print('x',x,type(x))

x 5.0 <class 'float'>

###Task: assign **float_x** with x.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
float_x=x
print('float_x',float_x,type(float_x))

float_x 5.0 <class 'float'>

###Task: assign **x** with a str '5'.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
x=str(5)
print('x',x,type(x))

x 5 <class 'str'>

###Task: assign **str1_x** with x.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
str1_x=x
print('str1_x',str1_x,type(str1_x))

str1_x 5 <class 'str'>

###Task: assign **x** with a str '5.0'.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
x=str(5.0)
print('x',x,type(x))

x 5.0 <class 'str'>

###Task: assign **str2_x** with x.

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
str2_x=x

###Task: check all variables.

Use print() and type() to check all the variables you created so far: **x, int_x, float_x, str1_x, str2_x** value and data types.

In [ ]:
print(x,type(x), int_x, type(int_x), float_x, type(float_x), str1_x,type(str1_x), str2_x,type(str2_x))

5.0 <class 'str'> 5 <class 'int'> 5.0 <class 'float'> 5 <class 'str'> 5.0 <class 'str'>

## Value converting

For the task below, convert data value from one type to another, assign it to x, and use print() and type() to check for correctness.

###Task: convert a str '0' to int

In [ ]:
x=int('0')
print(x)
type(x)

0

int

###Task: convert a float 0.1 to int

In [ ]:
x=int(0.1)
print(x)
type(x)

0

int

###Task: convert a str '0' to float

In [ ]:
x=float('0')
print(x)
type(x)

0.0

float

###Task: convert an int 0 to float

In [ ]:
x=float(0)
print(x)
type(x)

0.0

float

###Task: convert an int 0 to str

In [ ]:
x=str(0)
print(x)
print(type(x))
x*5 # to see what happens when operating a str

0
<class 'str'>

'00000'

###Task: convert a float 0.1 to str

In [ ]:
x=str(0.1)
print(x)
print(type(x))
x*10

0.1
<class 'str'>

'0.10.10.10.10.10.10.10.10.10.1'

## Arithmetic Operations

- ``+`` Addition
- ``-`` substraction
- ``*`` multiplication
- ``/`` Division that gives a float type
- ``//`` Integer division that returns an integer
- ``%`` remainder: divides one number by other and gives the remainder.
- ``**`` Exponent: raises a number to a power.

### Precedence

- Highest ()
- Second **
- Third: *,/,//,%
- Lowest: +,-

### input()
- We used input() to get input from the user.
- if we uses input() alone we will get always a str.
- we can convert the value from input() with ``int(input('Enter something'))`` or ``float(input('Enter something'))``.
- We can use multiple inputs at the same time (see code below using a comma as separator)

In [ ]:
type(input('Enter your age:'))

Enter your age:35

str

In [ ]:
type(int(input('Enter your age')))

Enter your age35

int

In [ ]:
first_name,last_name=input('enter your first name and last name, sepparate them by a comma: ').split(',')
print(first_name)
print(last_name)

enter your first name and last name, sepparate them by a comma: cristian,soriano
cristian
soriano

In [ ]:
4+7*3

25

In [ ]:
(4+7)*3

33

In [ ]:
12/3*4

16.0

In [ ]:
2**3*2

16

# Welcome to our Lab Practice!

This lab is about arithmetic operations, more assignemnt operations from input(). Are you ready? Let's get started!

You will find some small tasks in sections below.

## Arithmetic Operation

In this section, you are going to code and run arithmetic operations of two numbers.

Hint: to print out the equation, we can use the print() to print multiple values out.

For example, print(x, 'operator', y, '=', x operator y) for an operator.

###Task: Get some computation.

1.   Assign x with 2, y with 3.
2.   print out the equation and result of
  1.   x + y
  2.   x - y
  3.   x * y
  4.   x / y
  5.   x // y
  6.   x ** y
  7.   x % y

In [ ]:
x=2
y=3
print(x,'+',y,'=',x+y)
print(x,'-',y,'=',x-y)
print(x,'*',y,'=',x*y)
print(x,'/',y,'=',x/y)
print(x,'//',y,'=',x//y)
print(x,'**',y,'=',x**y)
print(x,'%',y,'=',x%y)

2 + 3 = 5
2 - 3 = -1
2 * 3 = 6
2 / 3 = 0.6666666666666666
2 // 3 = 0
2 ** 3 = 8
2 % 3 = 2

###Task: Get some other computation.

1.   Assign x with a value you like, y with another value you like.
2.   print out the equation and result of
  1.   x + y
  2.   x - y
  3.   x * y
  4.   x / y
  5.   x // y
  6.   x ** y
  7.   x % y
3.   Are there some value that will crash your program? Why?

R: with zero, the result does not converge for the division.

In [ ]:
x=5
y=0 # assigned zero to find the value that crashes the program.
print(x,'+',y,'=',x+y)
print(x,'-',y,'=',x-y)
print(x,'*',y,'=',x*y)
print(x,'/',y,'=',x/y)
print(x,'//',y,'=',x//y)
print(x,'**',y,'=',x**y)
print(x,'%',y,'=',x%y)

5 + 0 = 5
5 - 0 = 5
5 * 0 = 0

ZeroDivisionError: division by zero

## Get Inputs from Users

###Task: Help the User

1.   Ask the user to enter an integer, convert and assign it to x;
2.   Ask the user to enter another integer, convert and assign it to y;
3.   print out the equation and result of
  1.   x + y
  2.   x - y
  3.   x * y
  4.   x / y
  5.   x // y
  6.   x ** y
  7.   x % y
3.   Are there some value that will crash your program? Why?

In [ ]:
x=int(input('Provide an integer value for x: '))
y=int(input('Provide a integer value for y: '))
print(x,'+',y,'=',x+y)
print(x,'-',y,'=',x-y)
print(x,'*',y,'=',x*y)
print(x,'/',y,'=',x/y)
print(x,'//',y,'=',x//y)
print(x,'**',y,'=',x**y)
print(x,'%',y,'=',x%y)

Provide a value for x: 5
Provide a value for y: 5
5 + 5 = 10
5 - 5 = 0
5 * 5 = 25
5 / 5 = 1.0
5 // 5 = 1
5 ** 5 = 3125
5 % 5 = 0

## Relational, Boolean Data and Logical Operations

We want to do some comparisons. Relationships between values.

### Relational operations
- Very often we need to compare two values
    - So we use relational operations or Boolean expressions.

| Expression | Meaning                                                   |
|------------|-----------------------------------------------------------|
| $x>y$        | Is x greater than y ?                                     |
| $x<y$        | Is x less than y ?                                        |
| $x>=y$       | Is x greater than or equal to y?                          |
| $x<=y$       | Is x less than or equal to y?                             |
| $x==y$       | Is x equal to y ? (Attention as we do not assign a value) |
| $x!=y$       | Is x not equal to y?                                      |


### Boolean type
 - The result of a relational operation will be a boolean type: bool.
 - bool is a predefined data type in Python.
 - Only two values *True*, *False*.

### Logical Operations
 - Boolean tyé can be computed by Logical Operations.
 - *and*, *or*, *not*.
 - *and* operator and *or* operator are binary operators, they need to connect two boolean expressions.
 - *not* operator is a unary operator that reverses the value.
 - *Truth table* shows the result of logical operations.  

 ### The **and** Operator
 - Takes two boolean expressions as operands.
 - Creates compound Boolean expression that is true only when both expressions are true.
 - Truth table:

| Expression      | Value of and operation |
|-----------------|------------------------|
| False and False | False                  |
| False and True  | False                  |
| True and False  | False                  |
| True and True   | True                   |

### The **or** Operator
 - Takes two Boolean expressions as operands.
 - Creates compound Boolean expressions that is true either of the sub expressions is true.
 - Truth table:

| Expression      | Value of and operation |
|-----------------|------------------------|
| False or False  | False                  |
| False or True   | True                   |
| True or False   | True                   |
| True or True    | True                   |

### Short-Circuit Evaluation
 - To decide the value of a compound Boolean expression after evaluating only one sub expression.
 - For *or* operator: if left operand is True, compound expression is true. Otherwise, evalate the right operand.
 - For *and* operator: if left operand is False, compound expression is false. Otherwise, evaluate right operand.

### The *not* Operator

 - Takes one Boolean expression as operand and reverses its logical value.
 - Truth table:

| Expression      | Value of and operation |
|-----------------|------------------------|
|  not False      | True                   |
|  not True       | False                  |

In [ ]:
# Some exercises
a = 7
b = 3
c = 5
print(a > b and a > c)

True

In [ ]:
a = 5
b = 7
c = 3
print(a < b and a > c)

True

In [ ]:
a = 2
b = 5
c = 7
print(a < b or c < a)

True

In [ ]:
x = 5
y = 15
z = x > 3 and y < 12
print(z)

False

# Welcome to our Lab Practice!


This lab is about logical and relational operations. Are you ready? Let's get started!

You will find some small tasks in sections below.

## Relational Operation

In this section, you are going to code and run relational operations of two numbers.

Hint: to print out the comparison, we can use the print() to print multiple values out.

For example, `print(x, 'operator', y, 'is', x operator y)` for an operator.

###Task: Get some comparisons.

1.   Assign x with 2, y with 3.
2.   print out the comparison and result of
  1.   x > y
  2.   x >= y
  3.   x == y
  4.   x <= y
  5.   x < y
  6.   x != y

In [ ]:
x=2
y=3
print(x,'>', y, 'is', x>y)
print(x,'>=', y, 'is', x>=y)
print(x,'==', y, 'is', x==y)
print(x,'<=', y, 'is', x<=y)
print(x,'<', y, 'is', x<y)
print(x,'!=', y, 'is', x!=y)

2 > 3 is False
2 >= 3 is False
2 == 3 is False
2 <= 3 is True
2 < 3 is True
2 != 3 is True

###Task: More comparisons

1.   Ask the user to enter an integer, convert and assign it to x;
2.   Ask the user to enter another integer, convert and assign it to y;
3.   print out the comparison and result of
  1.   x > y
  2.   x >= y
  3.   x == y
  4.   x <= y
  5.   x < y
  6.   x != y

In [ ]:
x=(int(input('Provide an integer value for x: ')))
y=(int(input('Provide an integer value for y: ')))
print(x,'>', y, 'is', x>y)
print(x,'>=', y, 'is', x>=y)
print(x,'==', y, 'is', x==y)
print(x,'<=', y, 'is', x<=y)
print(x,'<', y, 'is', x<y)
print(x,'!=', y, 'is', x!=y)

Provide an integer value for x: 100
Provide an integer value for y: 90
100 > 90 is True
100 >= 90 is True
100 == 90 is False
100 <= 90 is False
100 < 90 is False
100 != 90 is True

## Logical Operation

In this section, you are going to code and run logical operations of two numbers.

Hint: to print out the equation, we can use the print() to print multiple values out.

For example, `print(x, 'operator', y, 'is', x operator y)` for an operator.

###Task: Get some computation.

1.   Assign x with True, y with False.
2.   print out the computation and result of
  1.   x and x
  2.   x and y
  3.   y and x
  4.   y and y
  5.   x or x
  6.   x or y
  7.   y or x
  8.   y or y
  9.   not x
  10.   not y

In [ ]:
x=True
y=False
print(x,'and',y,'is',x and y)
print(y,'and',x,'is',y and x)
print(y,'and',y,'is',y and y)
print(x,'or',x,'is',x or x)
print(x,'or',y,'is',x or y)
print(y,'or',x,'is',y or x)
print(y,'or',y,'is',y or y)
print('not', x,'is',not x)

True and False is False
False and True is False
False and False is False
True or True is True
True or False is True
False or True is True
False or False is False
not True is False

In [ ]:
not False

True

# Module 2 Assignment

# Welcome to our second assignment!

This assignment is about testing your understanding of variables and operations.

We are going to create some simple programs using these tools. Are you ready? Let's get started!

You will find some small tasks in sections below. You should use input() to get the user to enter the information and use print() to print the information on the screen. At this moment, we can assume users will follow instructions carefully - they will enter the valid inputs as required.

## Simple check out

###Instruction: You are going to program a super simple check-out system for a store. This store has an interesting rule that every customer can only buy one product (the quantity of the product is not limited) in one order.

step1: Ask the user to enter the price / unit of the product (it should be a float)

step2: Ask the user to enter the quantity of the product (it should be an integer)

step3: We have a sales tax at 6.25%

step4: Calculate and display the total amount of this order (for example, 59.25)

step5: Ask the user to enter the amount of bills paid (for example, 60)

step6: Calculate and display the change (for example, 0.75)

In [ ]:
price=float(input('Enter the price of the product: '))
quantity=int(input('Enter the quantity of the product: '))
total=price*quantity*(1+0.0625)
print('total=',total)
bills=int(input('Enter the amount of bills paid: '))
print('Change=',bills-total)

Enter the price of the product: 10
Enter the quantity of the product: 6
total= 63.75
Enter the amount of bills paid: 70
Change= 6.25

In [ ]:
price = float(input('What is the price per unit of the product? '))
quantity = int(input('What is the quantity of the product? '))
total = price * quantity * (1 + 0.0625)
print('The total amount of this order with tax is', total)
paid = float(input('What is the amount of bill paid? (It should be larger than the total) '))
change = paid - total
print('The change is', change)

What is the price per unit of the product? 10
What is the quantity of the product? 6
The total amount of this order with tax is 63.75
What is the amount of bill paid? (It should be larger than the total) 70
The change is 6.25

## Tips Split

###Instruction: You are going to program a super simple tip split system.

step1: Ask the user to enter the total amount of meal before tax (it should be a float)

step2: Ask the user to enter the number of people to split the tips (it should be an integer)

step3: We have a sales tax at 6.25%, and we tip at 18%

step4: Calculate and display the total amount due  (including tax and tips)

step5: Calculate and display the amount each person should pay.

In [ ]:
meal_before=float(input('Enter the total amount of meal before tax: '))
people=int(input('enter the number of people to split the tips: '))
total_amount=meal_before*(1+(0.0625+0.18))
print('The total amount is=',total_amount,'USD')
print('Each one has to pay: ', total_amount/people)

Enter the total amount of meal before tax: 100
enter the number of people to split the tips: 5
The total amount is= 124.25 USD
Each one has to pay:  24.85

In [ ]:
total = float(input('What is the total amount of the meal before tax? '))
num = int(input('How many people to split the tips? '))
tax = 0.0625
tip = 0.18
total_due = total * (1 + tax + tip)
each_due = total_due / num
print('Total due is', total_due, '. Each due is', each_due)

What is the total amount of the meal before tax? 100
How many people to split the tips? 5
Total due is 124.25 . Each due is 24.85

## Compound Interest

###Instruction: You are going to program a super simple Compound Interest calcualtor.

step1: Ask the user to enter the amount saving right now (it should be a float)

step2: Ask the user to enter the number of years(it should be an integer)

step3: Ask the user to enter the interest rate (it should be a float number, and 0.03 represents 3%)

step4: Calculate and display the total amount after these years

$A = P \left(1 + \frac{r}{n}\right)^{nt}$

Where:


A is the future value of the investment/loan, including interest.

P is the principal amount (initial investment/loan amount).

r is the annual interest rate (decimal).

n is the number of times that interest is compounded per year. n ofr 1 year

t is the number of years the money is invested/borrowed for.

In [ ]:
p=float(input('Enter the amount saving now: '))
t=int(input('Enter the number of years: '))
r=float(input('Enter the interest rate: '))
print('The amount saved after',n,'years',p*((1+(r/1))**(1*t)))

Enter the amount saving now: 1000
Enter the number of years: 5
Enter the interest rate: 0.03
The amount saved after 5 years 1159.2740743000002

In [ ]:
saving = float(input('What is the amount of saving right now? '))
years = int(input('What is the number of years? '))
rate = float(input('What is the interest rate per year? (it should be a float number, and 0.0'))
total = saving * (1 + rate) ** years
print('The total amount after these years is:', total)

What is the amount of saving right now? 1000
What is the number of years? 5
What is the interest rate per year? (it should be a float number, and 0.00.03
The total amount after these years is: 1159.2740743000002

**Congratulations! You finished this Assignment and completed Module 2!**